[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# Add another mirror
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi-mirror"

[packages]

flask = "1.1.4"
flask-migrate = "2.7.0"
flask-sqlalchemy = "2.6.0"
Werkzeug = "2.0.1"
ipdb = "0.13.9"
importlib-metadata = "4.8.1"
importlib-resources = "5.2.2"
[requires]
python_full_version = "*"
